*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
nav{
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
}
.write1{
    display:inline-block;
    font-size: 30px;
    padding:20px 0 0 10%;
    font-weight: bold;  
}
 nav ul{
    display: inline-block;
    padding-left:50%;
    font-size: 20px;
 }
 nav ul li{
    display: inline-block;
    padding-left: 30px;
    list-style: none;
    padding-top: 30px;
 }
 .home:active{
    background-color: rgb(164, 188, 26);
 }
 main{
    background-image: url(../sekiller/home3.jpg);
    height:700px;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
 }
 .yazi2{
    color: rgb(195, 47, 47);
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
 }
 span{
    color: beige;
 }
 .yazi3{
    text-align: justify;
    padding: 100px 40px 50px 40px;
    color: rgb(19, 20, 19);
    font-size:30px;
 }
 button{
    color: beige;
    margin-left:45%;
    text-align: center;
    height: 35px;
    width: 200px;
    background-color: black;
 }
 .sekil2{
    float:left;
    background-image: url(../sekiller/family1.jpg);
    height: 500px;
    width:50%;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .sekil3{
    float:right;
    background-image: url(../sekiller/home2.jpg);
    height: 500px;
    width:50%;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .text1{
    float:left;
    height:400px;
    width: 33%;
    background-color: rgb(188, 179, 179);
    line-height: 25px;
    text-align: center;

 }
 #text1sekil{
    height: 80px;
    width: 100px;
    padding: 20px 10px 60px 20px;
 }
 .text2{
    float:left;
    height:400px;
    width:33%;
    background-color: rgb(180, 124, 55);
    line-height: 25px;
    text-align: center;
 }
 #text2sekil{
    height: 80px;
    width: 100px;
    padding: 20px 0 60px 20px;
 }
 .text3{
    float:left;
    height:400px;
    width:34%;
    background-color: rgb(188, 179, 179);
    line-height: 25px;
    text-align: center;
 }
 #text3sekil{
    height: 80px;
    width: 100px;
    padding: 20px 0 60px 20px
 }
 .clear{
    height: 40px;
    width:100%;
    background-color: blue;
    text-align: center;
    color: rgb(218, 69, 69);
    padding-top: 20px;
    font-size: 20px;
    overflow:auto;
 }
